<!doctype html>
<head>
    <title>Cloud Project - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<html>
   <body>
     <main>
        <div>
          <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/dashboard">Dashboard</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <span class="navbar-text">
                  Group 5
                </span>
              </div>
            </div>
          </nav>
          
          <div class="container">
            <div class="row">
              <div class="col-lg-6 mt-5">
                <div class="card" style="width: auto;">
                  <div class="card-body">
                    <h4 class="card-title">Data Pull for HSHD_NUM #10</h4>
                    <br>
                    <br>
                    <a class="text-center" href="/data_pull_10">Click to view data.</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mt-5">
                <div class="card" style="width: auto;">
                  <div class="card-body">
                    <h4 class="card-title">Upload Data</h4>
                    <a class="text-center" href="/upload_h">Upload Households CSV</a>
                    <br>
                    <a class="text-center" href="/upload_p">Upload Products CSV</a>
                    <br>
                    <a class="text-center" href="/upload_t">Upload Transactions CSV</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 mt-5">
                <div class="card" style="width: auto;">
                  <div class="card-body">
                    <h4 class="card-title">Which demographic factors (e.g. household size, presence of children, income) appear to affect customer engagement?</h4>
                    <p class="card-text">
                      There are several demographic factors that have potential to influence a customer's interaction with the store and product. 
                      For this example, we are examining how demographic factors may show a correlation between a customer's attitude towards 
                      products with an organic label, marked by the NATURAL_ORGANIC_FLAG. The demographic factors we have chosen to focus on are 
                      age and income range, marked by the AGE_RANGE and INCOME_RANGE attributes respectively. We ignored null values for these 
                      attributes because they could represent any age or income range.
                      For the purpose of simplicity, we are choosing to examine these attributes separately from one another, first let us look 
                      at a customer's age. Counts of products with a value of 'Y' for the organic flag were grouped by age range and then averaged. 
                      From the following visual representation of these results, it appears that younger households purchase more organic product. 
                    </p>
                    <br>
                    <div class="text-center">
                      <img src="/static/images/graph1.png" width="50%" class="rounded" alt="...">
                    </div>
                    <br>
                    <p>
                      But it is important to consider that younger households could be larger in size, and generally just tend to purchase more 
                      products of all types because there are more people. To normalize this data, the number of all products purchased was all 
                      calculated by using the same queries, but without the filter for organic products. The ratio of organic products purchased 
                      to all products purchased was then calculated for each age-range.
                    </p>
                    <br>
                    <div class="text-center">
                      <img src="/static/images/graph2.png" width="50%" class="rounded" alt="...">
                    </div>
                    <br>
                    <p>
                      From this normalized view of the data, we can see that the trend previously observed holds true, younger customers are more 
                      likely to purchase organic products. Now let us examine a similar representation of the data using Income-Range as opposed 
                      to Age-Range. First, we observe solely organic purchases by the quantity again:
                    </p>
                    <br>
                    <div class="text-center">
                      <img src="/static/images/graph3.png" width="50%" class="rounded" alt="...">
                    </div>
                    <br>
                    <p>
                      From this representation without normalization, it appears that those with higher incomes are much more likely to purchase 
                      organic items, with those in brackets of 75-99k and 150k+ purchasing around three times the amount of organic products than 
                      the lower two income brackets. We also believe it is interesting to display the intermediate data visualization of all 
                      products purchased by income range, as it seems there is not much difference in the amount of products purchased based on income:
                    </p>
                    <br>
                    <div class="text-center">
                      <img src="/static/images/graph4.png" width="50%" class="rounded" alt="...">
                    </div>
                    <br>
                    <p>
                      And now for the final step using these values to normalize the ratio of organic purchases:
                    </p>
                    <br>
                    <div class="text-center">
                      <img src="/static/images/graph5.png" width="50%" class="rounded" alt="...">
                    </div>
                    <br>
                    <p>
                      As we can see, there is practically no change in the appearance of the bar graph due to the count of all item purchases by income 
                      being so similar to one another. This leads to an interesting conclusion that households with higher income don't actually purchase 
                      more, rather they purchase more organic products, again at nearly a 3 to 1 rations between the higher and lower ends of the income 
                      range. Organic products are typically more expensive than non-organic products, so households with more disposable income are able to 
                      make these purchases whereas lower income households don't have the ability to. Perhaps marketing of these products should primarily 
                      be aimed at those making over $75,000 since that is the range where there is a significant spike in the number of organic purchases. 
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
     </main>      
   </body>
</html>