<!doctype html>
<head>
    <title>Cloud Project - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<html>
   <body>
     <main>
        <div>
          <nav class="navbar bg-light">
            <div class="container-fluid">
              <span class="navbar-brand mb-0 h1">Dashboard</span>
            </div>
          </nav>   
          
          <div class="container">
            <div class="row">
              <div class="col-lg-6 mt-5">
                <div class="card" style="width: auto;">
                  <div class="card-body">
                    <h5 class="card-title">Data Pull for HSHD_NUM #10</h5>
                    <br>
                    <br>
                    <a class="text-center" href="/data_pull_10">Click to view data.</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mt-5">
                <div class="card" style="width: auto;">
                  <div class="card-body">
                    <h5 class="card-title">Upload Data</h5>
                    <a class="text-center" href="/upload_h">Upload Households CSV</a>
                    <br>
                    <a class="text-center" href="/upload_p">Upload Products CSV</a>
                    <br>
                    <a class="text-center" href="/upload_t">Upload Transactions CSV</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 mt-5">
                <div class="card" style="width: auto;">
                  <div class="card-body">
                    <h5 class="card-title">Which demographic factors (e.g. household size, presence of children, income) appear to affect customer engagement?</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
     </main>      
   </body>
</html>