<!doctype html>
<head>
    <title>Cloud Project - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"/>
            <h1 class="display-6 fw-bold text-primary">Welcome back!</h1>  
            <h3 class="fw-bold text-primary">Created by Group 5</h3>               
          </div>
        <form method="post" action="{{url_for('hello')}}">
            <div class="col-md-6 mx-auto text-center">
                <label class="form-label fw-bold fs-5">Login here</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                  <label for="username">Username: </label>
                  <input type="text" class="form-control" id="username" name="username" style="max-width: 256px;">
                </div>        
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                  <label for="password">Password: </label>
                  <input type="password" class="form-control" id="password" name="password" style="max-width: 256px;">
                </div>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                  <label for="email">Email: </label>
                  <input type="email" class="form-control" id="email" name="email" style="max-width: 256px;">
                </div>                    
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Login</button>
                </div>            
            </div>
        </form>
        <div class="px-4 py-3 my-2 text-center">
          <a href="/">Don't have an account? Sign up here
        </div>
     </main>      
   </body>
</html>