<!doctype html>
<head>
    <title>Cloud Project - Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<html>
   <body>
     <main>
        <div>

          <nav class="navbar bg-light">
            <div class="container-fluid">
              <span class="navbar-brand mb-0 h1">Dashboard</span>
            </div>
          </nav>   
          <div class="row">
            <div class="col-lg-12 px-5">
              <a class="btn btn-primary my-2" href="/dashboard" role="button">Back</a>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <label class="my-3">Upload Products CSV</label>
              <form action = "/upload_p" method = "post" enctype="multipart/form-data">  
                <input type="file" name="file" />  
                <input type = "submit" value="Upload">  
              </form>  
              
            </div>
          </div>

          <table>
            <h1>
            <!--Displaying the converted table-->
                 {% for table in tables %}
                <h2>{{titles[loop.index]}}</h2>                            
                {{ table|safe }}
                {% endfor %}     
            </h1> 
          </table>

        </div>
     </main>  


   </body>
</html>